body {
    background: yellow;
}

/* css reset */
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3 {
    padding: .2em 0;
}

p {
    margin: 1.0em 0;
    line-height: 1.8em;
}

header,
nav,
main,
aside,
footer {
    padding: 1.5em;
    border: 1px black solid;
}

header,
footer {
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background: rgb(175, 222, 176);
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns:
     1fr       2fr       1fr;
    grid-template-areas:
    "heady"
    "navvy     navvy     navvy"
    "aside1    mainy     aside2"
    "aside1    mainy     aside2"
    "aside1    mainy     aside2"
    "footy     footy     footy";
  }

  header {grid-area: heady; background:rgb(254, 218, 175);}
nav {grid-area: navvy; background:rgb(232, 206, 236);}
main {grid-area: mainy; background: rgb(240, 234, 182); max-height: 100%;}
#aside1 {grid-area: aside1; background: rgb(241, 202, 174);}
#aside2 {grid-area: aside2; background: rgb(191, 226, 246);}
footer {grid-area: footy; background: rgb(171, 171, 171);}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    }
    
    nav ul li {
      list-style: none
    }
    
    @media screen
      and (min-width: 641px)
      and (max-width: 900px)  {
    .container {
    grid-template-columns:
       1fr 1fr;
    grid-template-areas:
      "heady heady"
      "navvy navvy"
      "mainy mainy"
      "aside1 aside2"
      "footy footy";
    }
    }
    
    @media screen
      and (max-width: 640px)  {
    .container {
    grid-template-columns:
       1fr;
    grid-template-areas:
      "heady"
      "mainy"
      "aside1"
      "aside2"
      "navvy"
      "footy";
    }
    nav ul {
      flex-flow: column nowrap;
      text-align: center;
    }
    nav ul li a {
      display: block;
      padding: 10px 5px;
      margin: 5px;
      border: 1px black solid;
      background: white;
    
    }
    }